@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ff9292, rgb(255, 255, 174));
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

form {
    width: 30%;
    margin: 0 30px 0 30px;
    padding: 20px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgb(100, 100, 100);
}

form h1 {
    text-align: center;
    color: crimson;
}

form hr {
    margin: 10px 0 10px 0;
    border-color: crimson;
}

form li {
    list-style-type: none;
    text-align: center;
}

form input, form textarea {
    font-size: 14px;
    width: 80%;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
    resize: none;
}

form input:focus, form textarea:focus {
    outline: none;
    border: 2px solid crimson;
}

form button {
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: rgb(255, 255, 174);
    border: 2px solid crimson;
    color: crimson;
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0 10px 0;
}

.social a {
    text-decoration: none;
    color: crimson;
}

@media screen and (max-width: 1300px) {
    form {
        width: 40%;
    }
    form input, form textarea {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    form {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    form {
        background: none;
        box-shadow: none;
        width: 100%;
    }
    form input, form textarea {
        width: 100%;
    }
}